@import url('https://fonts.googleapis.com/css?family=Elsie:900|Montserrat:300,600');



$gold: #DDA54A;
$blue: #008B8B;
$darkblue: #007474;
$white: #F5F5D5;
$black: #2E3532;



$sans: 'Montserrat', sans-serif;
$serif: "Elsie", cursive;